@use '../util' as u;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: u.$body-font;
    font-size: 1rem;
    background-color: var(--background-color);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

section {
    padding: 0 1rem;
    min-width: 500px;
}

.bold {
    font-weight: 700;
}

#main-content {
    animation: fadeIn 1s ease-in-out;
}