@use '../util' as u;

button {
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1rem;
    font-family: u.$header-font;
    border: none;
    border-radius: 40px;
    cursor: pointer;

    &:hover {
        background-color: var(--button-hover);
        transition: background-color 0.3s ease;
    }
}

.mini-btn {
    padding: 1rem;
    display: none;
    min-width: 150px;
    height: 65px;
    margin: auto 0;

    a {
        color: var(--black);
    }

    @include u.breakpoint('large') {
        display: block;
    }
}

.mini-btn2 {
    padding: .3rem;
    display: block;
    width: 100px;
    height: 50px;
    line-height: 1;
    margin-right: -5rem;

    a {
        color: var(--black);
        font-size: 0.775rem;
    }

    @include u.breakpoint('large') {
        display: none;
    }
}

.big-btn {
    padding: 1rem 1.5rem;
    word-break: break-all;
    width: 100%;
    max-width: 520px;
    border-radius: 0 40px 40px;
    font-family: u.$body-font;
    line-height: 1.4;
    white-space: normal;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);

    span {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 1.15rem;
    }
}

.footer-btn {
    background: var(--copy-btn-color);
}