@use '../util' as u;

.carousel-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: .3rem;
    overflow: hidden;
    border-radius: 30px 30px 5px 5px;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    ul {
        margin: 0;
        display: flex;
        gap: .3rem;
        width: calc(500px * 8);

        li {
            // max-width: 500px;
            // display: flex;
            // align-items: center;
            // justify-content: center;

            img {
                max-width: 500px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.slide-1 {
    animation: scroll 30s linear infinite;
}

.slide-2 {
    animation: scroll 40s linear infinite;
    animation-direction: reverse;

}

// @keyframes scroll {
//     0% {
//         transform: translateX(0);
//     }
//     100% {
//         transform: translateX(calc(-500px * 4));
//     }
// }

@keyframes scroll {
    0% {
      transform: translate3d(0, 0, 0); /* Start at the first slide */
    }
    100% {
      transform: translate3d(-2000px, 0, 0); /* Move left by the width of 4 images (4 * 500px) */
    }
  }