@use '../util' as u;

.footer {
    width: 100%;
    position: relative;
    margin-top: 2rem;

    .container {
        background: var(--footer-bg-color);
        width: 100%;
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
            overflow: hidden;
            padding: 0;

            .scrolling-text {
                font-family: u.$header-font;
                font-size: 4rem;
                // position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                background-color: var(--yellow);
                max-height: 5rem;
                width: 100%;
                color: var(--black);
                text-align: center;
                z-index: 10;
            
                ul {
                    display: flex;
                    gap: 1rem;
                    width: calc(320px * 8);
                    animation: scrollText 20s linear infinite;
    
                    li {
                        max-width: 320px;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }

        .footer-socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .email {
                font-size: 1.1rem;
                color: var(--black);
                font-weight: bold;
                transition: .3s ease-in-out;
                text-decoration: underline;

                &:hover {
                    color: var(--white);
                }
            }
        }

        .disclaimer-text {
            padding: 0 2rem;
            color: var(--black);
            text-align: center;
            font-size: 0.875rem;

            span {
                font-weight: bold;
                font-size: 1rem;
            }

            .copyright {
                padding: 0 2rem;
                font-size: 10px;
                color: var(--copyright-color);
            }
        }

    }
}