.social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

.link-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 1rem;
    margin-top: 20px;


    img {
        max-width: 60px;
        min-width: 40px;
        width: 100%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
}
}

.link-icon {
    border-radius: 50%;
    transition: transform .3s ease-in-out;


    &:hover {
        transform: scale(1.2);
        transition: transform .3s ease-in-out;
    }
}

.small {

    img {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.8);
    width: 30px;
    }
}



.powered-by-sol img {
    width: 100%;
}