.iframe {
    width: 100%;
    margin-top: 2rem;   

    .container {
        min-height: 50rem;
        background: var(--iframe-bg-color);
        border-radius: 0 0 40px 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;

        iframe {
            max-width: 50rem;
            width: 90%;
            min-height: 30rem;
            border: 1px solid white;
            border-radius: 40px;
            overflow: hidden;
        }
    }
}