.iframe {
    background: var(--iframe-bg-color);
    width: 100%;
    border-radius: 0 0 40px 40px;
    margin: 0 auto;
    // margin-top: -10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
    max-width: 1200px;
    height: 80vh;
    width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            width: 90%;
            height: 60vh;
            border: 1px solid white;
            border-radius: 40px;
            overflow: hidden;
        }
    }
}