#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* Optional: Black background */
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big-container {
    display: none;
}

#loading-video {
    width: 100%;
    height: auto;
    max-width: 200px; /* Set a max width to fit most screens */
}