@use '../util' as u;

.menu-button-container {
    display: flex;
    height: 50px;
    width: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    @include u.breakpoint(xlarge) {
        display: none;
    }
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 5px;
    width: 40px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -10px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 10px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  // #menu-toggle:checked ~ .navbar {
  //   // display: flex;
  //   height: 500px;
  //   transition: height .3s ease;
  // }

  // #menu-toggle ~ .navbar {
  //   // display: flex;
  //   height: 100%;
  //   transition: height .3s ease;
  // }
  
  // #menu-toggle ~ nav {
  //   display: flex;
  // }
  
  // #menu-toggle:checked ~ nav {
  //   display: none;
  // }