@use "../util/" as u;

.tokenomics {
    position: relative;
        width: 100%;
        margin-top: 1rem;

    .container {
        // min-height: 50rem;
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        width: 100%;

        @include u.breakpoint(large) {
            flex-direction: row;
        }
    }

    .left-col, .right-col {
        border-radius: 30px;
        width: 100%;
        flex: 1;

    }

    .left-col {
        background: var(--tokenomics-bg-color);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        text-align: left;
        padding: 2rem 4rem;

        @include u.breakpoint(large) {
            text-align: left;
        }

        h2 {
            font-size: 2.5rem;
        }

        ul {
            padding: 0;

            li {
                padding-bottom: 0.875rem;
                margin-bottom: 1.5rem;
                list-style-type: disc;
                border-bottom: 1px solid var(--black);
                width: 90%;
            }
        }


        img {
            width: clamp(8rem, 12vw, 12rem);
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .right-col {
        background: var(--milk-white);
        padding: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 500px;
        }
    }
}