@use "../util/" as u;

.tokenomics {
    position: relative;
        width: 100%;
        margin-top: 1rem;

    .container {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        width: 100%;

        @include u.breakpoint(large) {
            flex-direction: row;
        }
    }

    .left-col, .right-col {
        border-radius: 30px;
        width: 100%;

    }

    .left-col {
        background: var(--tokenomics-bg-color);
        position: relative;
        height: 50vh;
        width: 100%;
        // max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        text-align: left;
        padding: 36px 72px 24px 40px;
        flex: 2;

        h2 {
            font-size: 2.5rem;
        }

        ul {
            padding: 0;

            li {
                padding-bottom: 0.875rem;
                margin-bottom: 1.5rem;
                list-style-type: disc;
                border-bottom: 1px solid var(--black);
            }
        }


        img {
            max-width: 9rem;
            width: 6rem;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .right-col {
        flex: 1;
        background: var(--milk-white);
        padding: 18px;
        // height: 50vh;
        width: 100%;
        // max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 500px;
            // height: auto;
        }
    }
}